.header-component 
    padding: 5px

    aside
        background-color: lightgray
    div h1
        margin: 0px 0px 0px 10px
        font-size: 40px
    div a img
        width: 80px
    nav a
        text-align: center
        font-size: 15px
    nav a i
        width: 50px

    .user-btn
        background-color: transparent
        border: 0px
        div i
            display: none
        img
            max-width: 40px
            border-radius: 50%
 

