/*HEADER*/
.App{

  font-weight: lighter;
}
header{
  display: flex;
  background-color: rgb(60,55,55);
  color: white;
  
}
header section{
  display: flex;
  flex:3;
  align-items: center;
  margin-left: 5%;
  
}
header section h1{
  font-family: Brush Script MT, Brush Script Std,cursive;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
} 
header section img{
  width: 65px;
  height: auto;
  padding-left: 10px;
}
header nav{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-left: 7%;
  margin-right: 7%;
}
header nav .nav-button{
  background-color: rgb(60,55,55);
  border: 0px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: white;
  height: 40px;
  width: 100%;
  text-align: center;

}
header .nav-button:hover{
  border-bottom: 1px solid white;
}
.component-about{
  margin-left:5%;
  margin-right:5%;
}
.component-about h1{
  font-size: 35px;
  text-align: center;
}
.component-about .contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:29.05px;
  margin-right: 40%;
  margin-left: 40%;
  border-radius: 5px;
}
.component-about .contact a{
  margin: 10px;
}
.contact a img{
  width: 60px;
  height: auto;
}
.section-not-logged-in, .section-loading{
  margin-left:5%;
  margin-right:5%;
  margin-top: 5%;
  margin-bottom: 5%;
  
}
.section-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.section-not-logged-in h3{
  text-align: center;
}
.section-not-logged-in div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-not-logged-in div button{
  background-color: rgb(219, 42, 55);
  color: white;
  font-size: 25px;
  border: 0px;
  padding: 35px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 600px;

  
}
.section-not-logged-in button:hover{
  background-color:  rgb(170, 42, 55);
}
.section-not-logged-in button img{
  width: 80px;
  height: 80px;
}
.section-not-logged-in p{
  margin-top: 18.716px;
  margin-left: 30%;
  margin-right: 30%;
}
.intro-timelike{
  text-align: center;
  
  margin-bottom: 50px;
}
.component-home{
  margin-left: 5%;
  margin-right: 5%;
}
.component-home h1 {
  font-size: 35px;
  text-align: center;
}
.account-info{
  display: flex;
  padding-bottom: 29.05px;
  border-bottom: 1px solid grey;
}
.account-img{
  flex: 1;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-img img{
  border-radius: 50%;
}
.account-headers{
  flex: 1;
  margin-right: 25%;
}
.account-headers h2, p{
  margin: 0;
}
.followers{
  display: flex;
}
.followers p{
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.bold{
  font-weight: bold;
}
.data-recent{
  background-color: rgb(210,210,210);
  margin-right: 82%;
  color: rgb(102,102,102);
  text-align: center;
  padding: 15px;
}
.most-liked-post{
  border-bottom: 1px solid grey;
  padding-bottom: 29.05px;
}
.most-liked-post h2{
  margin-top: 29.05px;
  margin-bottom: 29.05px;
  text-align: center;
  color: rgb(102,102,102);
}
.most-liked-picture{
  display: flex;
  align-items: center;
  justify-content: center;
}
.most-liked-post section img{
  width: 50%;
  height: 50%;
}

.most-liked-post-caption{
  margin-left: 25%;
  margin-right: 25%;
}
.most-liked-post-caption h3, p{
  display: block;
}
.error{
  text-align: center;
  color: red;

}
.recommended-post-time{
  text-align: center;
  color: rgb(102,102,102);
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;

}
.component-graph{
  border-bottom: 1px solid grey;
  padding-top: 29.05px;
  padding-bottom: 29.05px;
}
.component-footer{
  display: flex;
  padding: 10px;
  margin-top: 29.05px;
  background-color:  rgb(60,55,55);

}
.component-footer p{
  display: flex;
  flex:40;
  align-items: center;
  color: white;
  
  
  
}
.component-footer img{
  float: right;
  flex: 1;
  width: 10px;
  height: auto;
}
