/*HEADER*/
.App{
  font-family: Helvetica;
  margin: 10px;
  font-weight: lighter;
}
header{
  display: flex;
  border-bottom: 1px solid grey;
  
}
header section{
  display: flex;
  flex:3;
  align-items: center;
  margin-left: 5%;
  
}
header section h1{
  font-size: 50px;
} 
header section img{
  width: 200px;
  height: auto;
  padding-left: 10px;
}
header nav{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-left: 5%;
  margin-right: 5%;
}
header nav a{
  border: 1px solid grey;
  background-color: rgb(245, 95, 46);
  border-radius: 3px;

  margin-right: 5px;

  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  height: 55px;
  width: 100%;
  text-align: center;

}
header p:hover, header a:hover{
  background-color: rgb(255, 140, 70)
}
.component-about{
  margin-left:5%;
  margin-right:5%;
}
.component-about h1{
  font-size: 35px;
  text-align: center;
}

.section-loading{
  margin-left:5%;
  margin-right:5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-loading img{
  width: 30%;
  height: auto;
}
.section-loading h1{
  font-size: 100px;
}
.component-home{
  margin-left: 5%;
  margin-right: 5%;
}
.component-home h1 {
  font-size: 35px;
  text-align: center;
}
.account-info{
  display: flex;
  padding-bottom: 29.05px;
  border-bottom: 1px solid grey;
}
.account-img{
  flex: 1;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-img img{
  border-radius: 50%;
}
.account-headers{
  flex: 1;
  margin-right: 25%;
  
}
.account-headers h2, p{
  margin: 0;
}
.followers{
  display: flex;
}
.followers p{
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.bold{
  
  font-weight: bold;
}