.about-component
    
    section
        width: 85%
        max-width: 1200px

        h2
            font-family: Avenir Demi,Helvetica Neue,Helvetica,sans-serif
            text-align: center
        h3 
            margin-top: 15px
            border-bottom: 1px solid lightgray
        h4
            padding-left: 5px
            border-left: 2px solid rgb(231, 53, 58)
        li, p 
            font-size: 15px
    h1
        font-size: 40px
    .about-section
        margin-bottom: 30px

        h2
            border-left: 3px solid rgb(220, 49, 60)
            padding-left: 5px
            

@media only screen and (max-width: 800px)
    .about-component
        margin: 0px
        section 
            width: 95%
    

  